body {
   font-size: 14pt
}
h1 {
   text-align: center;
}
table {
   margin-top: 1em;
   text-align: right;
   font-family: Monaco;
   border-collapse: collapse;
}
th {
   background-color: lightgray;
}
td, th {
   border: 1px solid black;
   padding: 0.2em 0.5em;
   margin: 0;
}

.selectedCell {
   background-color: #6f6;
}

.var-name {
   background-color: #DDD;
}

#rightside {
   float: right;
   width: 40%;
}
#varView {
   width: 58%;
}
